.calculator {
    border-radius: 30px;
    background: #FFF;
    box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    width: 100%;
    font-size: 1rem;
    padding: 7px 4px;
    border: 2px solid black;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}